:root {
  --dark: #303952;
  --mid: #596275;
  --light: whitesmoke;
  --accent-1: #ff5733;
  --accent-2: #a5c5d9;
}

/* || GENERAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: var(--light);
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 16px;
}

/* || DISPLAY */

.display {
  background-color: var(--dark);
  padding: 40px 16px 16px 16px;
  margin-bottom: 8px;
  text-align: right;
  font-size: 32px;
  border-radius: 8px;
  position: relative;
}

.equation {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--accent-2);
  font-size: 18px;
}

.input {
  font-weight: bold;
}

/* || BUTTONS */

button {
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: none;
  background-color: var(--mid);
  color: var(--light);
  padding: 32px 40px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--light);
  color: var(--dark);
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 8px;
}

.clear {
  background-color: var(--accent-1);
  grid-column: span 2;
}

.operator {
  background-color: var(--dark);
}

#zero {
  grid-column: span 2;
}

.equals {
  background-color: var(--accent-2);
  color: var(--dark);
  grid-row: 4 / span 2;
  grid-column: 4;
}

/* || RESPONSIVE */

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    touch-action: manipulation;
  }

  button {
    padding: 24px;
  }
}
