:root {
  --dark: #303952;
  --mid: #596275;
  --light: whitesmoke;
  --acc1: #b33939;
  --acc2: #ffb142;
}

/* || GENERAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* || DISPLAY */

.display {
  background-color: var(--mid);
  padding: 40px 16px 16px 16px;
  margin-bottom: 8px;
  text-align: right;
  font-size: 32px;
  border-radius: 8px;
  position: relative;
}

.equation {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--acc2);
  font-size: 18px;
}

.input {
  font-weight: bold;
}

/* || BUTTONS */

button {
  cursor: pointer;
  border: none;
  background-color: var(--mid);
  color: var(--light);
  padding: 32px 40px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--light);
  color: var(--dark);
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 8px;
}

.clear {
  background-color: var(--acc1);
  grid-column: span 2;
}

.operator {
  background-color: var(--dark);
}

#zero {
  grid-column: span 2;
}

.equals {
  background-color: var(--acc2);
  grid-row: 4 / span 2;
  grid-column: 4;
}
